Loading data given after importing to colab

In [3]:
import pandas as pd
df = pd.read_csv("/content/student_performance_month1_upgraded (1).csv")
df.head()

,student_id,age,gender,school_type,parent_education,internet_access,tutoring,study_hours_per_day,attendance_percent,sleep_hours,assignments_completed_out_of_10,previous_term_score,exam_score,pass_fail,grade_band
0,S00001,21.0,Female,Public,Secondary,Yes,Yes,3.8,40.0,7.6,1,46.0,65,True,B
1,S00002,17.0,Male,Public,Secondary,Yes,Yes,3.0,37.8,7.6,7,39.0,53,True,C
2,S00003,23.0,Male,Private,Diploma,Yes,Yes,4.3,64.7,7.0,2,77.0,71,True,A
3,S00004,25.0,Female,Public,Diploma,Yes,No,2.5,82.3,5.7,6,44.0,71,True,A
4,S00005,18.0,Male,Private,Diploma,No,Yes,5.8,41.7,6.1,0,67.0,63,True,B

The data set contains student_id, age, gender, school type, parent education, internet access, tutoring, study hours per day, attendance in percentage,sleep hours, assignments completed by student out of 10,previous term score, exam score, decision if the student passed or failed an their grade band.